body {
    background-color: antiquewhite;
    font-family: Arial;
    text-align: center;
}

.principal {
    display: grid;
    background-color: lightgreen;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.8);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: str;
  }

.caja{
    background-color: lightgray;
    border: 4px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    line-height: 150px;
}
.cajaazul{
    grid-column: 1 / span 3;
    grid-row: 1;
    background-color: lightblue;
    border: 4px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    line-height: 150px;
}
.cajaamarilla {
    grid-column: 1 / span 2;
    grid-row: 2;
    background-color: lightyellow;
    border: 4px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    line-height: 150px;
}
.cajaroja{
    background-color: lightsalmon;
    border: 4px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    line-height: 150px;
}
.caja11{
    grid-column: 2 / span 2;
    grid-row: 5;
    background-color: lightgray;
    border: 4px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    line-height: 150px;
}
.cajaverde{
    grid-column: 1 / span 3;
    grid-row: 6;
    background-color: lightseagreen;
    border: 4px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    line-height: 150px;
}
  