body {
    background-color: antiquewhite;
    font-family: Arial;
    text-align: center;
}

.principal {
    display: grid;
    grid-template-columns: auto auto auto; /* Ancho de las columnas */
    grid-template-rows: auto; /* Altura de las filas */
    background-color: lightgreen;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    border: 1px solid black;
    justify-content: stretch;
  }

.caja{
    background-color: lightgray;
    border: 4px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    line-height: 150px;
}
.cajaazul{
    grid-column: 1 / span 3;
    grid-row: 1;
    background-color: lightblue;
    border: 4px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    line-height: 150px;
}
.cajaamarilla {
    grid-column: 1 / span 2;
    background-color: lightyellow;
}
.cajaroja{
    background-color: lightsalmon;
}
.caja11{
    grid-column: 2 / span 2;
}
.cajaverde{
    grid-column: 1 / span 3;
    background-color: lightseagreen;
}
  