body {
    background-color: antiquewhite; /* Fonde de la página*/
    font-family: Arial;
    text-align: center;
}

.principal { /* Caja que contiene el resto de cajas */
    display: grid;
    grid-template-columns: auto auto auto; /* Ancho de las columnas */
    grid-template-rows: auto; /* Altura de las filas */
    background-color: lightgreen;
    padding: 20px;
    margin: 0 auto; 
    width: 80%;
    border: 1px solid black;
    justify-content: stretch; /* Hace que las cajas se centren bien */
  }

.caja{ /* estilo predeterminado para todas las cajas */
    background-color: lightgray;
    border: 4px solid black;
    text-align: center;
    line-height: 150px;
}
.cajaazul{ 
    grid-column: 1 / span 3; /* La caja de la columna 1 se expande 3 columnas */
    background-color: lightblue;
}
.cajaamarilla {
    grid-column: 1 / span 2; /* La caja de la columna 1 se expande 2 columnas */
    background-color: lightyellow;
}
.cajaroja{
    background-color: lightsalmon;
}
.caja11{
    grid-column: 2 / span 2; /* La caja de la columna 2 se expande 2 columnas */
}
.cajaverde{
    grid-column: 1 / span 3; /* La caja de la columna 1 se expande 3 columnas */
    background-color: lightseagreen;
}
  