body {
    background-color: antiquewhite;
    font-family: Arial;
    text-align: center;
}

.principal {
    display: grid;
    background-color: lightgreen;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: stretch;
  }

.caja{
    background-color: lightgray;
    border: 4px solid black;
    text-align: center;
    line-height: 150px;
}
.cajaazul{
    grid-row: 1 / span 2;
    background-color: lightblue;
}
.cajaamarilla {
    grid-row: 1 / span 2;
    background-color: lightyellow;
}
.cajaroja{
    background-color: lightsalmon;
}
.caja10{
    grid-column: 3;
    grid-row: 3/ span 2;
    background-color: lightgray;
}
.cajaverde{
    background-color: lightseagreen;
}