body {
    background-color: lightgoldenrodyellow;
    font-family: Arial;
    text-align: center;
}
/*
.principal {
    display: grid;
    background-color: lightgray;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    border: 2px dashed rgba(0, 0, 0, 0.8);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: stretch;
  }
  .caja{
    background-color: lightgray;
    border: 4px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.header{
    background-color: lightblue;
} */
.header {
    grid-area: header; 
    background-color: lightblue;
}
.menu { grid-area: menu; }
.content { grid-area: main; }
.banners { grid-area: right; }
.footer { grid-area: footer; }

.principal {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: lightgray;
  border: 2px dashed rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin:0 auto;
  width: 80%;
}

.principal > div {
  background-color: lightgray;
  text-align: center;
  padding: 20px;
  border: 4px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
}
