body {
  background-color: lightgoldenrodyellow;
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
}
.caja{
  border: 4px solid black;
  background-color: lightgray;
  text-align:center;
}
.principal{ /* Caja que contiene el resto de cajas */
  display: grid;
  grid-template-areas: 'header header' 'menu menu' 'content banners' 'footer footer'; /* Ancho de las columnas */
  grid-template-rows: 10% 20% auto 10%; /* Altura de las filas */
  justify-content: stretch;
  width: 80%;
  height: 84vh;
  margin: 0 auto;
  background-color: lightgray;
  border: 2px dashed black;
  padding: 20px;
}
.header {
  grid-area: header;
  background-color: lightblue;
  line-height: 8vh;
}
.menu{
  grid-area: menu;
  background-color: lightyellow;
  line-height: 15vh;
}
.content{
  grid-area: content;
  background-color: lightsalmon;
  line-height: 50vh;
}
.banners{
  grid-area: banners;
  background-color:lightseagreen;
  line-height: 50vh;
}
.footer{
  grid-area: footer;
  line-height: 8vh;
}
