#arriba{
    background-image: url(coche.jpg);
    width: 1334px;
    height: 400px;
    position:fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
#izquierda{
    background-image: url(izquierda.jpg);
    width: 284px;
    height: 1000px;
    float: left;
    margin-top: 400px;
    background-size: contain;
    background-repeat: no-repeat;
 }
#derecha{
    background-image: url(derecha.jpg);
    width: 284px;
    height: 1000px;
    float: right;
    margin-top: 400px;
    background-size: contain;
    background-repeat: no-repeat;
}
#parrafo{
    background-color: aquamarine;
    text-align: justify;
    width: 765px;
    height: 1000px;
    float: left;
    margin-top: 400px;
    
}
