html, body{
    overflow: hidden;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    color: white;
    font-size: xx-large;
}
.principal {
    border: 5px solid red;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    flex-direction: column;
}
.principal > div
{
    text-align: center;
    min-height: 25%;
}
.principal div:nth-of-type(1) {
    background-color: green;
    flex-grow: 3;
}
.principal div:nth-of-type(2) {
    background-color: deepskyblue;
    flex-grow: 3;
}
.principal div:nth-of-type(3) {
    background-color: purple;
    flex-grow: 4;
}
.principal div:nth-of-type(4) {
    background-color: darkslategrey;
    flex-grow: 1;
}
.principal div:nth-of-type(5) {
    background-color: yellow;
    flex-grow: 6;
}
.principal div:nth-of-type(6){
    background-color: orange;
    flex-grow: 6;
}