html, body{
    overflow: hidden;
    height: 100vh;
    margin: 0%;
    padding: 0%;
}
.principal
{
    border: 5px solid red;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
.principal > div {
    text-align: center;
    height: auto;
}
.principal div:nth-of-type(1) {
    background-color: green;
    flex-grow: 1;
}
.principal div:nth-of-type(2) {
    background-color: deepskyblue;
    flex-grow: 4;
}
.principal div:nth-of-type(3) {
    background-color: purple;
    flex-grow: 5;
}
.principal div:nth-of-type(4) {
    background-color: darkslategrey;
    flex-grow: 5;
}
.principal div:nth-of-type(5) {
    background-color: yellow;
    flex-grow: 2;
}
.principal div:nth-of-type(6){
    background-color: orange;
    flex-grow: 3;
}
